Source: glyr
Priority: extra
Maintainer: Etienne Millon <etienne.millon@gmail.com>
Build-Depends: cmake,
               debhelper (>= 8.0.0),
               libcurl4-dev | libcurl-dev,
               libglib2.0-dev,
               libsqlite3-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://github.com/sahib/glyr

Package: libglyr1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: search engine for music-related metadata
 Glyr is a library to retrieve music-related metadata from several
 online providers (Amazon, Discogs, Musicbrainz...).

Package: libglyr-dev
Section: libdevel
Architecture: any
Depends: libglyr1 (= ${binary:Version}), ${misc:Depends}
Description: search engine for music-related metadata - development files
 Glyr is a library to retrieve music-related metadata from several
 online providers (Amazon, Discogs, Musicbrainz...).
 .
 This package contains the header files necessary to build applications using
 libglyr.

Package: glyrc
Section: unknown
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: command-line interface to libglyr
 <insert long description, indented with spaces>
