#!/usr/bin/make -f
export LDFLAGS=-Wl,--as-needed

%:
	dh $@ 

override_dh_compress:
	dh_compress -Xasync_queue.c

override_dh_fixperms:
	chmod a-x debian/libglyr-dev/usr/share/doc/libglyr-dev/examples/async_queue.c
	dh_fixperms
	
override_dh_strip:
	dh_strip --dbg-package=libglyr1-dbg

override_dh_auto_build:
	dh_auto_build
	pandoc -s -t man debian/glyrc.mdwn -o debian/glyrc.1
