#!/usr/bin/make -f
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -- -DINSTALL_LIB_DIR=lib/$(DEB_BUILD_MULTIARCH)

override_dh_auto_build:
	dh_auto_build
	cd doc ; ruby build_doc.rb

override_dh_compress:
	dh_compress -Xasync_queue.c -Xexample.c

override_dh_fixperms:
	chmod a-x debian/libglyr-dev/usr/share/doc/libglyr-dev/examples/async_queue.c
	dh_fixperms
	
override_dh_strip:
	dh_strip --dbg-package=libglyr1-dbg
